.page {
	padding-top: 2em;
	width: 100%;
}
// Bits pertaining to the header //
.page-hero,
.page-videos,
.page-section {
	padding: $gutter;
}

.page-hero {
	background: url('/img/ashlee-hero.jpg') #ddd 0% 30% no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 5em;
	&:after {
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		left: 0;
		background-color: #ddd;
		opacity: 1;
	}
}

.page-logo {
	margin: .5em 0 .25em;
}
// Stuff in our body //
.page-videos {
	padding: $gutter;
	overflow: auto;
}
.video {
	height: 20em;
	border: 1px solid #333;
	@include span-columns(12);
	margin: 1em 0;
	overflow: auto;
}

// all our mobile styles for layout //
@media only screen and (min-width: 768px) {
	.page-logo {
		margin: 1em 0 .5em 0;
	}

	.video {		
		@include span-columns(4);
		&:nth-child(3n) {
			@include omega();
		}	
	}
}