p {
	line-height: 1.2em;	
}

.page-nav__logo,
.page-logo {
	text-transform: uppercase;
	font-weight: 100;
}
.page-logo {
	font-size: 4em;
	line-height: .8em;
}
.page-nav__logo {
	
}
.page-intro,
.page-text {
	color: lighten($primary-color, 10%);
	font-weight: 200;
}

@media only screen and (min-width: 768px ) {
	.page-intro,
	.page-text {
		font-size: 1.4em;
		line-height: 1.2em;
		max-width: 35em;	
	}
	.page-text {
		margin: 0 auto;
	}
}

